/**CUSTOM CSS beyond jQueryMobile**/
/* TYPOGRAPHY */
body {
	font-family: 'Lato', Helvetica, sans-serif;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	font-variant: small-caps;
}
#nav-desktop li {
	display: inline-block;
}
#nav-desktop a, #nav-desktop a:visited {
	color: #000;
	font-weight: 400;
}
#nav-desktop a:hover, #nav-desktop a:active {
	opacity: .6;
}
p {
	font-weight: 400;
	text-shadow: none;
}
h1 {
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 200%;
	font-weight: 700;
	text-align: center;
	line-height: 1.5;
	text-shadow: none;
}
h2 {
	text-align: center;
	line-height: 2;
	font-weight: 700;
	font-size: 150%;
	text-shadow: none;
}
h3

/*to be moved to a separate file when done*/		
#indexPage .ui-content {
	padding: 0 0 0 0;
}

.hide-on-mobile{
		display: none;
	}

a.active{
	text-decoration: none;
}

section{
	width: 100%;
}

/*-Header-*/
header .logo{
	display: inline-block;
	width: 7em;
}

header .logo img{
	width: 100%;
}
/*--First fold carousel--*/
#carousel-home .item{
	width: 100%;
	height: 320px;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
}

#carousel-home .item1 {
	background-image: url('georgia.jpg');
	background-position: top left;
}

#carousel-home .item2 {
	background-image: url('nevada.jpg');
	background-position: center center;
}

#carousel-home .item3 {
	background-image: url('nude-tshirt.jpg');
	background-position: center center;
}

#carousel-home .item4 {
	background-image: url('arizona.jpg');
	background-position: top right;
}

#carousel-home .tagline {
	width: 50%;
	background-color: rgba(255,255,255,.5);
	float: right;
	margin-top: 100px;
	padding: 20px;
	font-variant: normal;
}
/* You might want to move it to owl-theme.css */
.owl-theme .owl-controls{
	margin-top: -30px;
	text-align: center;
	margin-bottom: 30px;	
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: transparent;
	border: solid 1px #fff;
}
/*Real photos*/
#realphotos img {
	width: 100%;
	height: 100%;
}

/* Product gallery*/
#product-gallery figure .ui-btn{
	padding: 0 !important;
	border: none !important;
	border-radius: 0;
}

#product-gallery figure img {
	width: 100%;
	height: 100%;
}

/*MEDIA QUERIES*/
/*smartphones*/
@media all and (max-width: 40em) {
	.ui-grid-c>.ui-block-a,
	.ui-grid-c>.ui-block-b,
	.ui-grid-c>.ui-block-c,
	.ui-grid-c>.ui-block-d,
	.ui-grid-b>.ui-block-a,
	.ui-grid-b>.ui-block-b,
	.ui-grid-b>.ui-block-c
	{
		width: 50% !important;
		float: left;
		clear: none;
	}

	
}
/*tablets and small screens*/
@media all and (min-width: 35em) {
  h3 {color: green;}
  
}

/*laptop and wide screens*/
@media all and (min-width: 60em) {
	.hide-on-desktop {
		display: none !important;
	}

	.hide-on-mobile {
		display: block;
	}

	.ui-page {
		margin: 0 auto;
	}

	/*-Header-*/
	header .logo{
		width: 10em;
	}

	/*Navigation menu on desktop only*/
	#nav-desktop{
		
	}

	#nav-desktop a {
		padding: 1em;
	}

	#nav-desktop .linkgroup {
		float: left;
		margin: 1em;
	}

	.floatright {
		float: right !important;
	}

	/* Carousel items*/
	#carousel-home .item {
		height: 450px;
	}

	/*Center folds below on the desktop*/
	.fold-b, .fold-c, .footer-container {
		width: 60em;
		margin: 0 auto;
	}

	/* Call to action button, eg. SHOP NOW */
	.ui-btn.call-to-action {
		width: 20em;
		margin: 0 auto;
	}

}