/**CUSTOM CSS beyond jQueryMobile**/
/* TYPOGRAPHY */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,900,400italic|Raleway:600,400,300);

body {
	font-family: 'Raleway', Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 11pt;
	font-weight: 300;
	text-shadow: none !important;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	text-shadow: 0 0 0 none;
}

p {
	font-weight: 300;
	text-shadow: none;
	padding: 1em 0 0 0;
}

li a {text-shadow: 0 0 0 none!important;}

h1 {
	font-family: 'Playfair Display', Georgia, serif;
	font-weight: 900;
	text-align: center;
	line-height: 1.2;
	text-shadow: none;
	font-size: 300%;
	padding: .5em .5em 0 .5em;
}
h2 {
	text-align: center;
	line-height: 1.2;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 200%;
	padding: .5em .5em 0 .5em;
}
h3 {
	text-align: center;
	line-height: 1.3;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 150%;
	padding: .5em .5em 0 .5em	
}
h4 {
	padding: 1em 0 0 0 !important;
} 

small {font-size: 90%;}

.ui-btn {
	text-shadow: none !important;
}
a.active{
	text-decoration: none;
}

.ui-content{
	padding: 0 0 0 0;
}

.hide-on-mobile{
		display: none;
	}



/*-Header-*/
header .logo{
	display: inline-block;	
	margin-top: -.5em;
}

.ui-header .ui-title, .ui-footer .ui-title {
		padding: .7em 0 0 0!important;
}

header .logo img{
	width: 7em;
}
/*--First fold carousel--*/
#carousel-home .item{
	width: 100%;
	height: 320px;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
}

#carousel-home .item1 {
	background-image: url('georgia.jpg');
	background-position: top left;
}

#carousel-home .item2 {
	background-image: url('nevada.jpg');
	background-position: center center;
}

#carousel-home .item3 {
	background-image: url('nude-tshirt.jpg');
	background-position: center center;
}

#carousel-home .item4 {
	background-image: url('arizona2.jpg');
	background-position: top right;
}


/* You might want to move it to owl-theme.css */
.owl-carousel {
	position: static;
}
.owl-theme .owl-controls{
	margin-top: -30px;
	text-align: center;
	margin-bottom: 30px;	
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
	opacity: .6;
}

/*Fold b*/
.fold-b p {
	text-align: center;

}
.fold-b h3 {
	font-weight: 400;
	padding: 4em 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0 auto;
}

.fold-b h3:before {
	content: "";
	background: #575757;
	opacity: .5;
	position: relative;
	height: 1px;
	width: 50%;
	display: block;
	margin: 0 auto 0.5em;
}

.fold-b .graphic-add-on{
	width: 100%;
	margin: 20px 0 0 0;
}

.fold-b h4 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display: block;
}

.fold-b .face {
	width: 60px;
	border-radius: 50%;
	background: rgba(87, 87, 87, .1);
	padding: 1px;
}
/*.fold-b h4:after {
	content: "";
	background: #575757;
	opacity: .5;
	position: relative;
	height: 1px;
	width: 50%;
	display: block;
	margin: 0 auto 0.5em;
}*/
/* Product gallery*/
#product-gallery figure .ui-btn{
	padding: 0 !important;
	border: none !important;
	display: flex;
	
}

#product-gallery figure img {
	width: 100%;
	height: 100%;
}

#product-gallery a:hover>img{
	-webkit-filter: contrast(125%);
	-moz-filter: contrast(125%);
	-ms-filter: contrast(125%);
	-o-filter: contrast(125%);
	filter: contrast(125%);
}

/*Product page*/
#product h2 {
	font-size: 120%;
}
#product .price {
	background-color: #30c4c9;
	color: #fff;
	padding: 4px;
}

#product .shipping-info,
#product .sizing-info {
	text-align: center;
	text-transform: uppercase;
	font-size: 75%;
}

#product .shipping-info small {
	border-bottom: solid 1px #bbb;
}
#product li {
	list-style-position: inside;
}
#product #carousel-product {
	margin: 10px 0;
}
#product #carousel-product img{
	width: 100%;

}
/*FOOTER*/
.socialIcons {
	text-align: center;
}
.socialIcons a {
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 150%;
	font-weight: 400 !important;
	text-shadow: none !important;
}
.socialIcons span {
	display: inline-block;
	width: 61px;
	height: 61px;
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	margin: 30px;
}
.socialIcons .fb {
	background-position: 0 0;
}
.socialIcons .twitter {
	background-position: -62px 0;
}
.socialIcons .pinterest {
	background-position: -124px 0;
}
.socialIcons .instagram {
	background-position: -186px 0;
}
.socialIcons .gplus {
	background-position: -248px 0;
}
footer a {
	text-shadow: none !important;
	font-weight: 400 !important;
}
footer ul {
	list-style: none;
	padding: 1em 0;
}
footer button {
	text-shadow: none !important;
}
/*MEDIA QUERIES*/
/*smartphones*/
@media all and (max-width: 40em) {
	.ui-grid-c>.ui-block-a,
	.ui-grid-c>.ui-block-b,
	.ui-grid-c>.ui-block-c,
	.ui-grid-c>.ui-block-d,
	#products-page .ui-grid-b>.ui-block-a,
	#products-page .ui-grid-b>.ui-block-b,
	#products-page .ui-grid-b>.ui-block-c
	{
		width: 50% !important;
		float: left;
		clear: none;
	}

	
}
/*tablets and small screens*/
@media all and (max-width: 50em) {
  	#products-page .ui-grid-b>.ui-block-a,
	#products-page .ui-grid-b>.ui-block-b,
	#products-page .ui-grid-b>.ui-block-c
	{
		width: 50% !important;
		float: left;
		clear: none;
	}
}

@media all and (min-width: 50em){

#carousel-home .item{
		height: 450px;
  	}
}

/*laptop and wide screens*/
@media all and (min-width: 60em) {
	.hide-on-desktop {
		display: none !important;
	}

	.hide-on-mobile {
		display: block;
	}

	.ui-page {
		margin: 0 auto;
	}

	h1 {font-size: 400%;}
	h2 {font-size: 200%;}

	/*Navigation menu on desktop only*/

	#nav-desktop{
		width: 100%;
		z-index: 9999;
		background: #fff;
		float: left;
	}
	#nav-desktop .logo {
		float: left;
		width: 100px !important;
	}

	#nav-desktop .logo img {
		width: 100%;
		margin-top: -15px;
	}
	#nav-desktop a {
		padding: 1em;
	}

	#nav-desktop .linkgroup {
		float: left;
		margin: 1em;
	}

	#nav-desktop a, #nav-desktop a:visited {
		color: #575757;	
		font-weight: 800;
		text-transform: uppercase;
		font-size: 75%;
	}
	#nav-desktop a:hover, #nav-desktop a:active {
		opacity: .6;
	}

	#nav-desktop .ui-btn .ui-icon-shop .ui-btn-icon-notext .ui-corner-all{
		width: 28px;
		padding: 0 0 0 0;
	}

	.floatright {
		float: right !important;
	}

	/* Carousel items*/
	#carousel-home .tagline {
	width: 60%;
	color: #fff;
	float: right;
	margin: 150px 50px 0 50px;
	font-variant: normal;
}
	
	#carousel-home .tagline h2 {
		margin: 0 0 1em 0;
		border: none;
		font-size: 150%;
	}
	#carousel-home .item {
		height: 500px;
	}

	/*Center folds below on the desktop*/
	.fold-c, .footer-container {
		width: 60em;
		margin: 0 auto;
	}

	/* Call to action button, eg. SHOP NOW */
	.ui-btn.call-to-action {
		width: 14em;
		margin: .3em auto;
		text-transform: uppercase;
		font-size: 100%;
		font-weight: 300 !important;
	}

	.fold-b, .fold-c {

	}

}